.loginContainer {
    text-align: center;
}

.domainName {
    width: 328px;
    height: 33.86px;
    /* margin: 16px 9px 0px 16px; */
    margin: 16px 12px 0px 12px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 3px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #7D7D7D;
    padding-left: 8px;
}

.submitButton {
    width: 328px;
    height: 33.86px;
    /* margin: 16px 9px 0px 16px; */
    margin: 16px 12px 0px 12px;
    background: #FFB414;
    border-radius: 3px;
    border: 1px solid #E6E6E6;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}

.send-data {
    float: left;
    margin-left: 40%;
}

.loginError {
    margin: 40px 0px 5px 70px;
    width: 163px;
    height: 20px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* color: #F95B2A; */
    white-space:pre;
}
.loading {
    padding-right:160px;
    padding-top: 20px;
}
