<!DOCTYPE html>
<html>
  <head>
    <style>
        body,ul {
            margin:0;
            padding:0;
            background: linear-gradient(315deg, rgba(126, 121, 110, 0.15) 0%, rgba(87, 186, 93, 0.15) 100%);
        }		
        ul {
            min-width: 190px;
        } 
        ul > li  {
            list-style: none;
            padding: 7px 10px 7px 18px;
            cursor: pointer;
        }
        ul > li:hover, ul > li > a:hover  {
            background: #dedede;		
            /*color: white;*/
        }	
        ul > li > a {
            display: block;
            text-decoration: none;
            color:black;			
            padding: 7px 10px 7px 18px;
        }	
        
        p {
            margin: 0px;
            padding: 0px;
        }
        #title {
            font-weight: bold;
            padding: 7px 10px 7px 7px;
            border-bottom:1px solid #ccc;
        }
        #content {
            white-space: nowrap;
        }
        #error {
            color: white;
            background: #f44336;
        }
        #noaddons {
            cursor: default;
            color: white;
            background: #ff9800;
        }
        .icon {
            height: 82px;
            width: 82px;
            border-radius: 96px;
            margin-top: 24px;
        }
        
        .loginto {
            width: 300px;
            height: 20px;
            margin: 10px 0px 0px 30px;

            font-family: Noto Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;

            color: #000000;
        }

        .domainMessage {
            font-family: Noto Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
             /* margin: 24px 9px 0px 16px;  */
            margin: 24px 12px 0px 12px;
            color: #000000;
            height: 33.86px;
        }

        .exampleMsg {
            font-family: Noto Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 10.5px;
            line-height: 14px;
            margin: 6px 170px 0px 0px;
            color: #7D7D7D;
        }

        .loading {
            width: 30px;
            height: 25px;
            margin: 0px 0px 5px 165px;
        }

        .hWcon {
            font-family: Noto Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            /* margin: 0px 24px 32px 24px; */
            color: #7D7D7D;
            /* height: 33.86px; */
        }
    </style>
  </head>

    <div class="loginContainer">
        <img src = "./images/Logo.png" class= "icon" #icon />
        <form class="loginForm" autocomplete="on" #loginForm>
            <div class="domainMessage">
                <p>Enter your happierWork URL/Link that you used to access <br> happierWork for your organisation</p>
            </div>
            <div class="inputDomain">
                <input type="text" class="domainName" #domainName autofocus placeholder="Enter your happierWork URL/Link" required/>
            </div>
            <div class = "exampleMsg">
                <p>Example: searce.happierwork.com</p>
            </div>
            <button class="submitButton" (click)="handleSubmit($event)">Submit</button><br>
        </form>
        <div class="result" *ngIf="gifCheck==true">
            <img src="./images/loading.gif" alt="loading gif" class="loading" #loading>
            <div class="resultContainer" #resultContainer  *ngIf="welCheck==true">
                <p>Welcome <strong><span class="username" #username></span></strong></p>
            </div>
        </div>
        <div class="error" #error *ngIf="errorCheck==true">
            <div class="loginError" #loginError></div>
        </div>
            <div class="loginto" #loginto *ngIf="logintoCheck==true"></div>
            <div class = "hWcon"></div>
    </div>
    <script src="main.js"></script>
    <script src="runtime.js"></script>
    <script src="polyfills.js"></script>
  
</html>
<router-outlet></router-outlet>