/* You can add global styles to this file, and also import other style files */
body,ul {
    margin:0;
    padding:0;
    background: linear-gradient(315deg, rgba(126, 121, 110, 0.15) 0%, rgba(87, 186, 93, 0.15) 100%);
    width: 30em;
    height: 25em;
}
